.loadMoreButton {
  font-family: 'Syne';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin-left: -16px;
  opacity: 0.7;
  padding: 8px 16px;
  position: relative;
  transition: opacity 400ms ease-in-out;
  text-align: right;
  text-transform: uppercase;
}

.loadMoreButtonArrow {
  font-size: 0;
  position: absolute;
  right: -32px;
  top: 9px;
}

.watchListPlus {
  right: -8px;
}

.loadMoreButton:hover {
  opacity: 1;
}

.loadMoreButton:hover .loadMoreButtonArrow::after {
  opacity: 1;
  transform: scale(1.5, 1.5);
}

.loadMoreButtonArrow::after {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  content: '';
  height: 64px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 150% 150%;
  transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
  width: 64px;
}

.customList {
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  font-family: 'Syne';
  font-size: 13px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.01em;
  padding: 11px 0;
  text-transform: uppercase;
  width: 100%;
}

.customListIconContainer {
  font-size: 0;
  margin-right: 8px;
  position: relative;
}
