.customList {
  background: linear-gradient(180deg, #0c0c0c 0%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-direction: column;
  height: 288px;
  padding-bottom: 24px;
}

.imageContainer {
  height: 120px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.avatarContainer {
  border-radius: 50%;
  font-size: 0;
  overflow: hidden;
  margin-bottom: 12px;
}

.title {
  font-family: 'Syne';
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
  max-width: 160px;
  text-align: center;
  width: 100%;
}

.genres {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 400;
  opacity: 0.5;
  text-align: center;
}

.amount {
  font-family: 'Inter';
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin-top: auto;
  opacity: 0.25;
  text-align: center;
  text-transform: uppercase;
}
