.form {
  display: grid;
  gap: 24px;
}

.inputContainer {
  position: relative;
}

.inputLabelPicture {
  display: block;
  margin-bottom: 20px;
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
}

.imagePlacholder {
  background-color: #191919;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  outline: none;
  padding: 16px;
  width: 100%;
}

.input:focus {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.input:focus + .inputLabel {
  opacity: 1;
  transform: scale(1, 1) translateY(-50%);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}

.inputLabel {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter';
  font-weight: 500;
  font-size: 11px;
  left: -8px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  transform: scale(0.5, 0.5);
  transition: opacity 350ms ease, transform 350ms ease;
}

.inputLabelPicture {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter';
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 20px;
}

.formButton {
  margin-top: 24px;
}
