.container {
  align-items: center;
  display: flex;
}

.profilePicture {
  border-radius: 50%;
  font-size: 0;
  height: 68px;
  margin-right: 56px;
  overflow: hidden;
  width: 68px;
}

.profilePicture img {
  object-fit: cover;
}

.profileFallback {
  background-color: #191919;
  border-radius: 50%;
  height: 68px;
  width: 68px;
}

.name {
  font-family: 'Syne';
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.role {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
}
