.signUpContainer {
  position: relative;
}

.signUpBackground {
  left: 196px;
  position: absolute;
  top: 0;
  width: 960px;
  z-index: 1;
}

.signUpBackground img {
  object-fit: cover;
}

.signUpBackground span::after {
  background: radial-gradient(
      70.48% 70.48% at 50.05% 29.52%,
      rgba(0, 0, 0, 0) 0%,
      #000000 100%
    ),
    linear-gradient(90deg, #000000 5%, rgba(0, 0, 0, 0.2) 50%, #000000 95%);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  position: relative;
  z-index: 2;
}

.contentContainer {
  padding-top: 256px;
}

.title {
  font-family: 'Syne';
  font-size: 32px;
  font-weight: 700;
  line-height: 101%;
  margin-bottom: 16px;
  opacity: 0.8;
}

.callToSignIn {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 40px;
}

.callToSignInLink {
  color: #ffffff;
  font-weight: 500;
}

.formContainer {
  max-width: 320px;
  width: 320px;
}
